@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Lato";
  line-height: 1.4;
}

///////////////////// Utilities/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.container {
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
  margin-top: 0.5rem;
}

// Background Colors
.bg-dark {
  background: $dark-color;
}
.bg-light {
  background: $light-color;
}
.bg-primary {
  background: $primary-color;
}
.bg-secondary {
  background: $secondary-color;
}

.current {
  background: $secondary-color;
  color: #333;
}

.l-heading {
  font-size: 3rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.m-heading {
  font-size: 2rem;
}

.ms-heading {
  font-size: 1.5rem;
}

.s-heading {
  font-size: 1.25rem;
}

.primary-color {
  color: darken($primary-color, 10%);
}

.secondary-color {
  color: darken($secondary-color, 10%);
}

.dark-primary-color {
  color: darken($primary-color, 5%);
}
.light-primary-color {
  color: lighten($primary-color, 5%);
}

.light-color {
  color: $light-color;
}

.s-resize {
  width: 100%;
  height: auto;
}

i {
  opacity: 0.7;
  padding: 0.25rem;
}

py-1 {
  padding: 1rem 0;
}
py-2 {
  padding: 2rem 0;
}
py-3 {
  padding: 3rem 0;
}

.b-l {
  height: 2px;
  width: 4rem;
  background: $primary-color;
  display: block;
  margin: 0 auto 1rem auto;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.section-title {
  margin-top: 2rem;
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.btn {
  margin-top: 1.5rem;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: $dark-color;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: $primary-color;
  color: $dark-color;
}

///////////////////// Navbar/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//overall navbar
#navbar {
  margin: auto;
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar li {
  padding: 0;
}

#navbar .logo a {
  text-decoration: none;
}

#navbar .logo a:visited {
  text-decoration: none;
  color: black;
}

//list in navbar

#navbar ul {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

//items in list in navbar

#navbar ul li {
  position: relative;
  display: inline-block;
}

#navbar ul li i {
  padding: 0.25rem;
}

//when you hover over a list item in navbar

#navbar ul li:hover,
#navbar ul li a:hover {
  cursor: pointer;
  background: darken($secondary-color, 3%);
}

//decorating links

#navbar ul li a {
  padding: 1rem 2.5rem;
  background: $primary-color;
  width: 2.5rem;
  height: 1rem;
  text-decoration: none;
  color: $dark-color;
  border-right: #d3d1d1 dotted 1px;
  border-left: #d3d1d1 dotted 1px;
}

#navbar .about-list {
  padding: 1rem 2.5rem;
}

//Hiding the nested

#navbar ul li ul {
  display: none;
}

#navbar ul li ul {
  padding: 0;
  background: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#navbar ul li ul li a {
  padding: 2.5rem 2rem;
  width: 100%;
  height: 2.5rem;
  background: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-right: none;
  border: #d3d1d1 dotted 1px;
}

#navbar ul li:hover ul {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  margin-top: 1rem;
}

#navbar ul li:hover ul li:hover {
  background: #e7e6e6;
}

///////////////////// Showcase////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#showcase ul {
  list-style: none;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

//Box 1

.box-1 {
  margin: 0 -2rem;
  background: $secondary-color;
  height: 60%;
  line-height: 1.4;
}

.box-1 h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.box-1 .img-under {
  padding: 1.5rem;
}

.box-1 .img-under .general-info {
  text-align: start;
  margin: 1rem 0;
  padding: 1rem 0;
  padding-right: 1rem;
}

.box-1 .img-under .general-info li {
  padding: 0.25rem;
}

.box-1 .img-under .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socials li {
  padding: 0 1rem;
  padding-right: 4rem;
}

.box-1 .img-under .socials li a i {
  color: $dark-color;
}

//Box 2

.box-2 {
  margin: auto;
  padding: 4rem;
  display: grid;
  grid-column: 2 / span 2;
  background-color: lighten($primary-color, 10%);
  text-align: start;
}

.box-2 .mini-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.box-2 .resume {
  text-decoration: none;
}

.box-2 h2 {
  font-size: 2rem;
}

.box-2 h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.box-2 .skills {
  margin-top: 2rem;
  text-align: center;
}

.box-2 p {
  padding-bottom: 2rem;
}

.box-2 .skills ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0rem;
}

.box-2 .skills ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  margin: 1rem;
  border: #d3d1d1 solid 1px;
  border-radius: 90%;
}

//////////////////////////////////////////////// About pages/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#work-a {
  text-align: center;
}

.items {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
  position: relative;
  background: $primary-color;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  // Bring in primary color overlay
  &:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  // Scale image on hover
  &:hover &-image {
    transform: scale(1.2);
  }

  // Bring in text on hover
  &:hover &-text {
    opacity: 1;
    transform: translateY(0);
  }

  &-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-image:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }

  &-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
      transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
  }

  &-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &-text-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
  }

  &-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
  }
}

//////////////////////////////////////////////////Timeline///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#main-header {
  background: #fff;
  top: 0;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: #d3d1d1 dotted 1px;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  padding-bottom: 2rem;
}

#timeline ul {
  background: $primary-color;
  padding: 50px;
}
/* Create line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

/* Boxes */

#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: $secondary-color;
  transition: all 0.5s ease-in-out;
}

/* right side */

#timeline ul li:nth-child(odd) div {
  left: 40px;
}
/* left side */
#timeline ul li:nth-child(even) div {
  left: -434px;
}

/* Dots */

#timeline ul li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: $secondary-color;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

/* Arrows Base */

#timeline div:before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right side arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $secondary-color transparent transparent;
}

#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent $secondary-color;
}

//////////////////////////////////////////////////Contact///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#contact-form {
  margin-bottom: 20px;
}

#contact-form label {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  display: block;
  text-align: start;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: $primary-color;
}

@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}
